
/*
I have taken help from the followimng websites 
https://medium.com/@bariskarapinar/firebase-authentication-web-app-javascript-3165ebc92b68
https://www.youtube.com/watch?v=V6DB6M3Nf58&ab_channel=YogeshSharma
https://www.w3schools.com/howto/howto_css_login_form.asp*/


a{
    text-decoration: none !important;
}
#fnameErr, #emailErr, #passErr, #signInEmailErr, #signInpassErr, #bioErr, #lnameErr, #editProfileForm{
    display: none;
}

#avatar{
    width: 120px;
    height: 120px;
}

/* Set a style for all buttons */
button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Change styles for span*/
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

